<footer class="bg-black">
  <div class="pt-10 pb-16 container grid sm:grid-cols-2 lg:grid-cols-4 grid-cols-1 items-start text-left gap-8 border-b border-gray-500">
    {% if section.settings.logo != blank %}
      <a href="/" class="row-start-3 sm:row-start-1">
        {{ section.settings.logo | image_url: width: 140 | image_tag: loading: 'lazy', class: 'mx-auto sm:m-0' }}
      </a>
    {% else %}
      <a href="/">
        {{ shop.name }}
      </a>
    {% endif %}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'menu' %}
        <div class="grid gap-4">
          <h3 class="text-secondary_gray font-helvetica font-bold text-md">{{ block.settings.title }}</h3>
          <ul class="grid gap-3">
            {% for link in block.settings.menu.links %}
              <li class="nav__item">
                <a class="text-white hover:text-secondary_gray font-helvetica font-bold text-md" href="{{ link.url }}">
                  {{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endcase %}
    {% endfor %}
    <div class="grid gap-4">
      <h3 class="text-secondary_gray font-helvetica font-bold text-md hidden sm:block">{{ section.settings.four-column-heading }}</h3>
      <div class="grid gap-3">
        <p class="text-center sm:text-left text-white font-helvetica font-bold text-md">{{ section.settings.four-column-address }}</p>
        <span class="text-center sm:text-left text-white font-helvetica font-bold text-md">{{ section.settings.four-column-email }}</span>
        <div class="flex justify-center sm:justify-between gap-3">
          <a href="https://www.instagram.com/">
            {% render 'icon-footer-facebook' %}
          </a>
          <a href="https://www.instagram.com/">
            {% render 'icon-footer-intagram' %}
          </a>
          <a href="https://www.instagram.com/">
            {% render 'icon-footer-tiktok' %}
          </a>
          <a href="https://www.instagram.com/">
            {% render 'icon-footer-discord' %}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black py-6 text-center" style="background-color: {{ section.settings.bg_color }}">
    <div class="flex justify-center mt-3 mb-3 gap-3">
      {% for payment in shop.enabled_payment_types %}
        {{ payment | payment_type_svg_tag }}
      {% endfor %}
    </div>
    <div class="container grid sm:flex justify-center items-center sm:justify-between gap-4">
      <span class="text-secondary_gray font-helvetica font-bold text-sm">{{ section.settings.bottom-copyright }}</span>
      <span class="text-secondary_gray font-helvetica font-bold text-sm">Completed by Artem Grechko</span>
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "footer-text",
        "label": "Footer Text",
        "default": "All Rights Reserved"
      },
      {
        "type": "text",
        "id": "four-column-heading",
        "default": "Contact",
        "label": "Fours Column Heading"
      },
      {
        "type": "text",
        "id": "four-column-address",
        "default": "160 City Road, London, EC1V 2NX - Derealized LTD.",
        "label": "Fours Column Address"
      }, {
        "type": "text",
        "id": "four-column-email",
        "default": "help@shopgolfdaddy.com",
        "label": "Fours Column Email"
      }, {
        "type": "text",
        "id": "bottom-copyright",
        "default": "© 2022, Golf Daddy",
        "label": "Copyright"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Footer Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "default": "Footer Menu Title",
            "label": "Title"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Footer Menu",
            "default": "footer"
          }
        ]
      }
    ]
  }
{% endschema %}